<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= favicon %>
    <%= javascript 'jquery-3.2.1.min' %>
    <%= javascript 'bootstrap.min' %>
    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'custom' %>
  </head>
  <body>
    <header>
      <h1>Task List</h1>
    </header>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
